<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Wireless Sniffing Configuration Page</title>
	 <style>
		body {
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #333;
		}

	 </style>
    <!-- 부트스트랩 -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/bootstrap-responsive.css')}}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <body>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>




  <div class="container">
	<a href="{{ url_for('refresh') }}">Refresh SSID list</a><br>
	<h2>
	<p> This raspberrypi is now connected to <span style="color:red;">{{ now_essid }}</span></p>
	</h2>
	<br>

	    <ul id="myTab" class="nav nav-tabs" role="tablist">
	      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Network Configuration</a></li>
	      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Extracted Database</a></li>
	    </ul>
	    <div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
		  	<div class="row">
					<div class="page-header">
						<h2 style="color:#000000;">
							WiFi Connect & Sniff
						</h2>
					</div>
					<table class = "table table-striped table-hover">
							<caption> AP LIST YOUR PI CAN BE CONNECTED TO </caption>

						    <thead>
						        <tr>
						          <th>#</th>
						          <th>SSID</th>
						          <th>Address</th>
						          <th>Channel</th>
						          <th>Encryption</th>
						          <th>Connect</th>
						          <th>Sniff</th>
						        </tr>
							</thead>
							{% for record in essid_list %}
							<tbody>
						        <tr>
						          <th scope="row">{{ record.id }} </th>
						          <td style="width:20%;"> {{ record.ESSID }} </th>
						          <td style="width:15%;"> {{ record.Address }} </td>
						          <td style="padding-left:30px;"> {{ record.Channel }} </td>
						          <td>
							          {% if not record.encryption %}
							          	Open
							          {% else %}
							            WPA2
							          {% endif %}
								  </td>
						          <td>
						          	{% if not record.is_connected %}
						          	<button  type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapse{{ record.id }}" aria-expanded="false" aria-controls="collapse{{ record.id }}">Not connected</button>

						          	<div class="collapse" id="collapse{{ record.id }}" >
					  				  <div class="well" style="width:60%;">
						  				  <form action="{{ url_for('connect_wifi') }}" method="post" id="con{{ record.id }}">
						  				  	<input type="hidden" name="ESSID" value="{{record.ESSID}}" >
						  				  	{% if not record.encryption %}
						  				  		<input type="text" size=15 name="AP_password" placeholder="don't need" disabled>
							          		{% else %}
												<input type="text" size=15 name="AP_password" placeholder="input password">
							                {% endif %}
						  				  	<button type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="document.getElementById('con{{record.id}}').submit()"> Connect </button>
						  				  </form>
									  </div>
							  		</div>
							  		{% else %}
							  		<button  type="button" class="btn btn-success" disabled>Connected</button>
							  		{% endif %}
						          </td>
							      <td>
							      {% if not now_decrypting %}
							          <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapse-sniff{{ record.id }}" aria-expanded="false" aria-controls="collapse-sniff{{ record.id }}">Sniff</button>
							          <div class="collapse" id="collapse-sniff{{ record.id }}">
						  				  <div class="well">
							  				  <form action="{{ url_for('start_sniff') }}" method="post" id="snif{{ record.id }}">

							  				  	<input type="hidden" value="{{ record.ESSID }}" name="ESSID">
							  				  	<input type="hidden" value="{{ record.channel }}" name ="channel">
							  				  	<input type="hidden" value="{{ record.encryption }}" name ="encryption">
						  				  	{% if not record.encryption %}
						  				  		<input type="text" size=15 name="AP_password" placeholder="don't need" disabled>
							          		{% else %}
												<input type="text" size=15 name="AP_password" placeholder="input password">
							                {% endif %}
							  				  	<button type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="document.getElementById('snif{{record.id}}').submit()"> Start to Sniff </button>
							  				  </form>
										  </div>
									  </div>
									{% else %}
									<form action="{{ url_for('stop_sniff') }}" id="stop_sniff">
										<button type="button" class="btn btn-danger" onclick="document.getElementById('stop_sniff').submit()">Stop</button>
									</form>
									{% endif %}

							      </td>
						        </tr>
						    </tbody>

						{% endfor %}

						</table>
				</div>
	
	       
	      </div>
	      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
	      	<!--  hyunwoo nim yogi e yo! -->
	      	<iframe>
	      	 
	      	</iframe>  
	   	  </div>
	  



   </div>
  </body>
</html>
<script>
$('.carousel').carousel({
	wrap: false
})
</script>